[MASTER]
load-plugins=pylint_django
django-settings-module=app.settings

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,

[DESIGN]
# Django migrations have classes with no public methods by design
min-public-methods=0

[BASIC]
# Allow Django migration module naming convention (e.g. 0001_initial)
module-rgx=(([a-z_][a-z0-9_]*)|([0-9]+_[a-z_][a-z0-9_]*))$
